<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h1>Welcome <%= locals.name || 'world' %></h1> -->
<form action="/api/v1/data" method="post">
    <label>Name</label>
    <input type="text" name="name" id="name" placeholder="Enter Your Name" />
    <label>RegisterNumber</label>
    <input type="number" name="regid" id="RegId" placeholder="Enter Your RegisterNumber" />
    <button type="submit">submit</button>
</form>
</body>

</html>